
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/companyformcss.css" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
    {{!-- {{#each items as |item| }}
    var products = {
    ProductGroup: [
    {
    p_name: {{item.p_name}},
    p_price: {{item.p_price}}
    }
    ]
    };
    {{/each}} --}}
    <div class="container">
        <header>Make a quotation Form</header>
        <div class="form-outer">
            <form action="#">
                <div class="page slide-page" style="margin: 0px 120px;">
                    <div class="title1">Select the product:</div>
                    <div class="field2">
                        {{#each items as |item| }}
                        <div class="label">{{item.p_name}} - ₹{{item.p_price}}</div>
                        <input type="checkbox" id="prodcheck" name="prodcheck" value="{{item.p_name}}" >
                        <input type="number" id="p_noproducts" name="p_noproducts" required>
                        {{/each}}

                    </div>
                    <div class="field">
                        <button class="firstNext next">Next</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>