<html>

<head>
      <link href="/searchquotationcss.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />

</head>

<body>
  <br>
  <h1><center>Inventory List</center></h1>
  <br>
  <div class="cover">
    <form class="flex-form" action="/auth/viewinvent"  method="post">
      <input type="text" name="search_name" id="search_name" placeholder="Which product are you looking for?" >
      <button class="btn btn-primary " type="submit" style="cursor:pointer;"><i class="fas fa-search"></i></button>
    </form>  
  </div>
  <br>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Product Name</th>
        <th scope="col">Product Price</th>
        <th scope="col">Number of products</th>
        <th scope="col">Side notes</th>
        <th scope="col">Total Price</th>
      </tr>
    </thead>
    <tbody>
      {{#each items as |item|}}
      <tr>
        <th scope="row">{{item.p_name}}</th>
        <td>{{item.p_price}}</td>
        <td>{{item.p_noproducts}}</td>
        <td>{{item.p_sidenote}}</td>
        <td>{{item.p_totalprice}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</body>

</html>